<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        
        <div *ngIf="categories">
            <ul>
                <li *ngFor="let category of categories">
                    <div class="text-primary" routerLink="/Categories/{{ category.id }}" >
                        {{category.categoryName}}
                        <img src={{category.imageLink}} alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>