<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div *ngFor="let item of users">
            {{item.userName}}
        </div>
        
        <div *ngIf="specificPost">
            <div>
                {{specificPost.title}}
                {{specificPost.text}}
                {{specificPost.user.userName}}
            </div>
            <ul >
                <li *ngFor="let comment of specificPost.comments">
                    {{comment.text}}
                    {{comment.user.userName}}
                </li>
            </ul>
        </div>
        <br>
        <div>
            <h1 *ngIf="newUser.userName"> {{newUser.userName}}</h1>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>