<div class="container pt-5">
    <div class="row pt-5" *ngIf="user">
        <div class="col-1"></div>
        <div class="col-4">
            <img src={{user.profilePicture}}
                class="img-thumbnail w-100" alt="Thumbnail">
            <form (ngSubmit)="SubmitPicture(newUser)" #UpdatePfpForm="ngForm">
                <div>
                    <input class="form-control " type="file" name="pfp" placeholder="pfp" required [(ngModel)]="file"
                        #UserPfp="ngModel" (change)="SelectAndConvertFile($event);">
                </div>
                <button type="submit" [disabled]="!UpdatePfpForm.valid" class="btn btn-light border mt-4"
                    data-bs-toggle="collapse" data-bs-target="#reply" aria-expanded="false"
                    aria-controls="collapseExample">
                    Change picture
                </button>
            </form>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
            <p class="text-custom">Username: {{user.userName}}</p>
            <p>Email: {{user.email}}</p>
            <br>
            <br>
            <form (ngSubmit)="UpdatePassword(UpdatePasswordDTO)" #UpdatePasswordForm="ngForm">
                <!--Old Password-->
                <p>Old Password</p>
                <input class="form-control " type="password" name="password" placeholder="Password" required
                    [(ngModel)]="UpdatePasswordDTO.oldPassword" #identityDTOOldpassword="ngModel">
                <div class="text-wrap" [hidden]="identityDTOOldpassword.valid || identityDTOOldpassword.pristine">
                    Password is required
                </div>
                <!--New Password-->
                <p>New Password</p>
                <input class="form-control " type="password" name="newPassword" #identityDTONewPassword="ngModel"
                    placeholder="newPassword" required [(ngModel)]="UpdatePasswordDTO.newPassword">
                <div class="text-wrap" [hidden]="identityDTONewPassword.valid || identityDTONewPassword.pristine">
                    Confirm password is required
                </div>
                <p>Confirm New Password</p>
                <input class="form-control " type="password" name="confirmNewPassword"
                    #identityDTOConfirmNewPassword="ngModel" placeholder="confirm New Password" required
                    [(ngModel)]="UpdatePasswordDTO.confirmNewPassword"  (ngModelChange)="Search(identityDTOConfirmNewPassword.value)">
                <div class="text-wrap"
                    [hidden]="identityDTOConfirmNewPassword.valid || identityDTOConfirmNewPassword.pristine">
                    Confirm password is required
                </div>
                <div class="text-primary">
                    {{doesPasswordMatch}}

                </div>
                <div class="pt-2">
                    <button type="submit" id="loginbutton" [disabled]="!UpdatePasswordForm.valid"
                        class="btn btn-light border">Update Password</button>
                </div>
                <div class="text-primary" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>