<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="https://i.pinimg.com/736x/74/b3/54/74b35486d3a1f639519ba0cf12821016.jpg" class="img-thumbnail w-100" alt="Thumbnail">
            <button>change picture</button>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
            <p>Username: Username</p>
            <p>Email: Email</p>
            
            <br>
            <br>
            <br>

            <p>New Password</p>
            <p>Confirm new password</p>
            <p>Old password</p>
        </div>
        <div class="col-1"></div> 
    </div>
</div>