<div class="container">
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10" *ngIf="posts">
            <h1>Categories</h1>
            <h6>Pinned</h6>
            <table class="table table-dark table-hover">
                <a href=""></a>
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Author</th>
                        <th>Replies</th>
                        <th>Views</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody *ngFor="let post of posts.pinnedPosts">

                    <tr>
                        <td routerLink="/Thread/{{post.id}}">{{post.title}}</td>
                        <td routerLink="/Thread/{{post.id}}">{{post.user.userName}}</td>
                        <td routerLink="/Thread/{{post.id}}">{{post.commentAmount}}</td>
                        <td routerLink="/Thread/{{post.id}}">Dunno hvad View er</td>
                        <td routerLink="/Thread/{{post.id}}">Dunno hvad activity er</td>
                        <td>
                            <div class="dropdown float-end" *ngIf="loggedIn">
                                <a class="btn btn-secondary " href="#" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" (click)="DeleteThread(post)">Delete</a></li>
                                    <li><a class="dropdown-item" (click)="PinUnpinThread(post)">Pin or Unpin</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="BanUser(post.user.id)">Ban the user</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="WarnUser(post.user.id)">Warn the user</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table *ngIf="posts" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Author</th>
                        <th>Replies</th>
                        <th>Views</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody *ngFor="let post of posts.unpinnedPosts">
                    <tr>
                        <td routerLink="/Thread/{{post.id}}">{{post.title}}</td>
                        <td routerLink="/Thread/{{post.id}}">{{post.user.userName}}</td>
                        <td routerLink="/Thread/{{post.id}}">{{post.commentAmount}}</td>
                        <td routerLink="/Thread/{{post.id}}">Dunno hvad View er</td>
                        <td routerLink="/Thread/{{post.id}}">Dunno hvad activity er</td>
                        <td>
                            <div class="dropdown float-end" *ngIf="loggedIn">
                                <a class="btn btn-secondary"  role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" (click)="DeleteThread(post)">Delete</a></li>
                                    <li><a class="dropdown-item" (click)="PinUnpinThread(post)">Pin or Unpin</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="BanUser(post.user.id)">Ban the user</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="WarnUser(post.user.id)">Warn the user</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-1">
            <div class=" sticky-top" style="top: 10%;" *ngIf="loggedIn">
                <button type="button" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#reply"
                    aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Reply popup-->
<div class="z-index-1
            position-fixed 
            bottom-0 
            start-50 
            translate-middle-x 
            collapse 
            border 
            border-secondary 
            border-2
            bg-white
            p-3" id="reply" style="width: 60%;">



    <form (ngSubmit)="PostThread(thread)" #ThreadForm="ngForm" class="w-100">
        <div class="input-group  mb-3">
            <span class="input-group-text" id="basic-addon3">Title</span>
            <textarea class="form-control" type="text" placeholder="Your Title Here" required name="Title"
                [(ngModel)]="thread.title" #ThreadsTitle="ngModel" rows="1">
            </textarea>
            <div class="text-wrap" [hidden]="ThreadsTitle.valid || ThreadsTitle.pristine">
                Your title cant be empty
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Content</span>
            <textarea class="form-control" type="text" placeholder="Your Topic Here" required name="Text"
                [(ngModel)]="thread.text" #ThreadsText="ngModel" rows="16">
            </textarea>
            <div class="text-wrap" [hidden]="ThreadsText.valid || ThreadsText.pristine">
                Your topic cant be empty
            </div>
        </div>
        <button type="submit" [disabled]="!ThreadForm.valid" class="btn btn-dark text-white">
            Create
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply"
                viewBox="0 0 16 16">
                <path
                    d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z">
                </path>
            </svg>
        </button>

        <button type="button" class="btn btn-light border" data-bs-toggle="collapse" data-bs-target="#reply"
            aria-expanded="false" aria-controls="collapseExample">
            Cancel
        </button>
    </form>


</div>