<div id="bannerContainer" class="overflow-hidden">
  <img id="bannerTop" class="img-fluid w-100 "
    src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/00-page-setup/elden-ring-new-header.jpg" alt="BannerTop">
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <h5>CATEGORIES</h5>
      <div class="item-group">
        <a *ngFor="let category of categories" routerLink="/Categories/{{category.id}}" id="listItem"
          class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">

          <img src={{category.imageLink}} alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{category.categoryName}}</h6>
              <p class="mb-0 opacity-75">{{category.introText}}</p>
            </div>
          </div>
        </a>


      </div>
    </div>
    <div class="col-lg-1"></div>
    <!-- <div class="col-lg-4" *ngFor="let item of items"> -->
    <div class="col-lg-5">
      <h5>TOP</h5>
      <div class="list-group list-group-flush">
        <a id="top" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
          routerLink="/Thread/{{dto.post.id}}" *ngFor='let dto of postWithCategory ;let i = index'>
          <div class="container">
            <div class="row row-cols-2">
              <div class="col">
                <h6 class="mb-0">{{dto.post.title}}</h6>
              </div>
              <div class="col text-end text-primary">
                {{dto.commentAmount}}
              </div>
              <div class="col">
                <p class="mb-0 opacity-75">
                  <img src={{dto.category.imageLink}} alt="twbs" class="rounded-circle flex-shrink-0" width="15"
                    height="15">
                  {{dto.category.categoryName}}
                </p>
              </div>
              <div class="col text-end text-primary">
                {{dto.post.dateOfCreation}}
              </div>
              <!--
        <div class="container">
            <div class="row row-cols-2">
              <div class="col">
                <h6 class="mb-0">{{dto.post.title}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">

                <p class="mb-0 opacity-75">
                  <img src={{dto.category.imageLink}} alt="twbs" class="rounded-circle flex-shrink-0" width="15"
                    height="15">
                  {{dto.category.categoryName}}
                </p>
              </div>
            </div>
          </div>
          -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>