/* You can add global styles to this file, and also import other style files */
/* Gold color for text #897859
    #192324
    #31403e
    #677356
    #bcbe8c
    #d9d2b0
    #f2d16d
    #b07943
    #466748

    #020001
*/





/*Containers*/
body{
    background-image: url("https://previews.123rf.com/images/srckomkrit/srckomkrit1607/srckomkrit160703803/60309471-grunge-de-edad-la-textura-sucia.jpg");
    background-size: cover;
    background-color: #192324;
}

#bgOverlay{
    background-image: linear-gradient(#192324,#192324);
    background-repeat: repeat;
    opacity: 0.95;
    min-height: 100vh;
}

#reply{
    background-color: #31403e !important;
    border-color: #677356 !important;
}

#listItem{
    background-color: #31403e !important;
    border-color: #677356 !important;
}

#top{
    background-color: transparent;
    border-color: #677356 !important;
}

.navbar{
    background-color: #020001;
}

.nav-link{
    color: #d9d2b0 !important;
}

.nav-btn{
    height: 50px;
    align-content: center;
}


/*Images*/
#logo{
    height: 50px;
    width: auto;
}

#bannerContainer
{
    height: 400px;
}

/*Text*/
*{
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h5, h6{
    color: #d9d2b0;
}

p, th, td{
    color: #d9d2b0;
}

